

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

#check-in-item {
   display: none;
}















