

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

 
/* sprint 1 Img zoom on Hover */
 
img {
   transition: transform .2s; /* Animation */

 
}
 
img:hover {
   transform: scale(1.1);
}
 
/* END sprint 1  */
















